In [1]:
# 모듈 로딩
import pandas as pd

# 파일 로딩
df = pd.read_csv('./data/여가및문화정보.csv')

# 컬럼명 확인
df.columns

Index(['Unnamed: 0', '0'], dtype='object')

In [2]:
# 필요 없는 컬럼 제거
df = df.drop('Unnamed: 0', axis=1)
df

                                                      0
0     음악/콘서트\n공연/전시\n유료\n대구\n김미리네 피아노 독주회 [대구]\n제공유형...
1     국악\n공연/전시\n유료\n서울\n정수연 아홉 번째 작곡발표회, 흔적Ⅳ\n제공유형\...
2     음악/콘서트\n공연/전시\n유료\n경기\nClarinet 김욱, Solitaire ...
3     국악\n공연/전시\n무료\n서울\n제39회 단국대학교 음악대학 국악과 추계정기연주회...
4     음악/콘서트\n공연/전시\n유료\n서울\n이재호 귀국 바이올린 독주회\n제공유형\n...
...                                                 ...
3683  음악/콘서트\n공연/전시\n무료\n내 손안의 콘서트 I - 윤혜순(하프), 홍서현(...
3684  음악/콘서트\n공연/전시\n무료\n내 손안의 콘서트 IV - Percussions\...
3685  음악/콘서트\n공연/전시\n무료\n내 손안의 콘서트 II - 앙상블 The K\n제...
3686  음악/콘서트\n공연/전시\n무료\n내 손안의 콘서트 III - 4Violins & ...
3687  뮤지컬/오페라\n공연/전시\n무료\n내 손안의 콘서트 V - 앙상블 The K wi...

[3688 rows x 1 columns]

In [3]:
# 지역 담기 위기 위한 데이터 전처리
re=[]  # 지역명 담을 리스트

for idx in range(df.shape[0]):
    if (len(df.iloc[idx][0].split('\n')[3]) == 2) & (df.iloc[idx][0].split('\n')[3] != '민화') & (df.iloc[idx][0].split('\n')[3] != '팽이') & (df.iloc[idx][0].split('\n')[3] != '공기'):
        re.append(df.iloc[idx][0].split('\n')[3])

In [4]:
re1 = list(set(re))  # 지역명 중복 제거

print(re1)  # 지역명 확인

['대구', '충남', '세종', '전북', '광주', '충북', '전남', '서울', '인천', '경북', '강원', '부산', '제주', '경남', '경기', '대전', '울산']

In [5]:
aa=[]  # 분류 1
bb=[]  # 분류 2
cc=[]  # 돈
dd=[]  # 지역
ee=[]  # 제목
ff=[]  # 제공유형
gg=[]  # 문의처
hh=[]  # 장소
ii=[]  # 기간


for idx in range(df.shape[0]):
    j = df.iloc[idx][0].split('\n')

    aa.append(j[0])  # 분류 1
    bb.append(j[1])  # 분류 2
    cc.append(j[2])  # 돈

    if j[3] in re1:  # 지역
        dd.append(j[3])
    else: 
        dd.append('-')
        
    ee.append(j[j.index('제공유형')-1])  # 제목
    ff.append(j[j.index('제공유형')+1])  # 제공유형

    try:
        gg.append(j[j.index('문의처')+1])  # 문의처

    except:
        gg.append('-')

    try:
        hh.append(j[j.index('장소')+1])  # 장소
    
    except:
        hh.append('-')

    try:
        ii.append(j[j.index('기간')+1])  # 기간

    except:
        ii.append('-')

In [6]:
# 하나의 데이터 프레임으로 만들기
DF = pd.DataFrame({'분류1':aa,'분류2':bb,'돈':cc,'지역':dd,'제목':ee,'제공유형':ff,'장소':hh,'기간':ii,'문의처':gg})

In [7]:
# '분류2' 컬럼 제거
DF = DF.drop('분류2', axis=1)

In [8]:
# '분류1' -> '구분' 컬럼명 변경
DF = DF.rename(columns = {'분류1':'구분'})

In [9]:
DF1 = DF.iloc[153:]  # 마감된 기간 삭제

In [10]:
indd=[]  # 지역명 있는 인덱스 담을 리스트

for i in DF1.index:
    if (DF1.지역[i]!='-'):
        indd.append(i)

In [11]:
DF2 = DF1.loc[indd]  # 지역명 있는 데이터프레임만 추출

In [12]:
DF2 = DF2.reset_index(drop=True)  # 인덱스 초기화

In [13]:
DF2.지역.unique()  # '지역' 컬럼 값 확인

array(['서울', '부산', '광주', '대전', '경기', '경남', '인천', '충남', '경북', '대구', '충북',
       '전북', '강원', '전남', '울산', '제주', '세종'], dtype=object)

In [14]:
# '지역' 컬럼에 값 변경
addr = {'서울':'서울특별시', '부산':'부산광역시', '광주':'광주광역시',
       '대전':'대전광역시', '경기':'경기도', '경남':'경상남도',
       '인천':'인천광역시','충남':'충청남도', '경북':'경상남도',
       '대구':'대구광역시', '충북':'충청북도','전북':'전라북도',
       '강원':'강원도', '전남':'전라남도', '울산':'울산광역시',
       '제주':'제주특별자치도', '세종':'세종특별자치시'}

DF2['지역'] = DF2['지역'].apply(lambda v: addr.get(v, v))

In [15]:
# '지역' 컬럼 값 확인
DF2.지역.unique()

array(['서울특별시', '부산광역시', '광주광역시', '대전광역시', '경기도', '경상남도', '인천광역시', '충청남도',
       '대구광역시', '충청북도', '전라북도', '강원도', '전라남도', '울산광역시', '제주특별자치도',
       '세종특별자치시'], dtype=object)

In [16]:
# '지역' -> '시도' 컬럼명 변경
DF2 = DF2.rename(columns={'지역':'시도'})

In [17]:
# 데이터프레임 DF2 -> csv 파일 저장
DF2.to_csv('여가및문화정보최종.csv', index=False)